<h3>Dropdown</h3>
<yk-dropdown [text]="'触发下拉菜单'">
    <button class="dropdown-item">动作 - 1</button>
    <button class="dropdown-item">动作 - 2</button>
    <button class="dropdown-item">动作 - 3</button>
    <button class="dropdown-item">动作 - 4</button>
    <button class="dropdown-item">其他 动作</button>
    <button class="dropdown-item">剩余的部分在这里</button>
</yk-dropdown>
<br>
<br>
<br>
<br>
<br>
<yk-dropdown [style.margin-left]="'18rem'" [up]="true" [text]="'触发上拉菜单'">
    <button class="dropdown-item">动作 - 1</button>
    <button class="dropdown-item">动作 - 2</button>
    <button class="dropdown-item">其他 动作</button>
    <button class="dropdown-item">剩余的部分在这里</button>
</yk-dropdown>