.btn {
    font-weight: normal;
    font-size: .75rem;
    padding: .5rem 1rem;
    min-width: 6rem;
    line-height: 1;
    border-radius: 0;
    outline: none;
}

.btn:focus {
    outline: none;
}

.inline-block {
    display: inline-block;
}

.dropdown-menu {
    min-width: 10rem;
    border-radius: 0;
    font-size: .75rem;
}