body {
    background-color: #fff;
    color: #666;
    font-size: .75rem;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, span, p, button, input, optgroup, select, textarea, label, a {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif !important;
}

body, span {
    line-height: 1 !important;
}

/* pagination */
.pagination {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-radius: 0;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: .3rem .5rem;
    font-size: .75rem;
    line-height: 1;
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
    border: none;
    background-color: inherit;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    background-color: inherit;
}

/* pagination */

/* modal */
.modal-content {
    border-radius: 0;
}

.modal-header {
    padding: 1rem .75rem;
}

.modal-header button.close {
    outline: none;
    text-shadow: none;
}

.modal-title {
    line-height: 1;
    font-size: 1.2rem;
}

.modal-body {
    padding: .75rem;
}

.modal-footer {
    padding: .75rem;
}

/* modal */

/* alert */
.alert {
    padding: 1rem;
    border-radius: 0;
}

.alert-danger {
    color: #ffffff;
    background-color: #ce352c;
    border-color: #ce352c;
}

.alert-success {
    color: #ffffff;
    background-color: #60a917;
    border-color: #60a917;
}

.alert-warning {
    color: #ffffff;
    background-color: #fa6800;
    border-color: #fa6800;
}

.alert-info {
    color: #ffffff;
    background-color: #1ba1e2;
    border-color: #1ba1e2;
}

/* alert */