<h3>Button</h3>
<yk-button [type]="'primary'" [text]="'primary'"></yk-button>
<yk-button [type]="'secondary'" [text]="'secondary'"></yk-button>
<yk-button [type]="'success'" [text]="'创建'" [i]="'plus'"></yk-button>
<yk-button [type]="'info'" [text]="'info'"></yk-button>
<yk-button [type]="'warning'" [text]="'warning'"></yk-button>
<yk-button [type]="'danger'" [text]="'danger'"></yk-button>
<yk-button [type]="'link'" [text]="'link'"></yk-button>

<h3>Checkbox</h3>
<yk-checkbox [text]="'请选择我'" #ykCb [value]="'dedede'" (change)="change($event)"></yk-checkbox>
<yk-checkbox [disabled]="true" [text]="'我是未选、失效的'"></yk-checkbox>
<yk-checkbox [text]="'已选择我'" [checked]="true"></yk-checkbox>
<yk-checkbox [disabled]="true" [text]="'我是已选、失效的'" [checked]="true"></yk-checkbox>
<p>{{ykCb.checked}}</p>

<h3>Table</h3>
<yk-table [columns]="columns" [datas]="datas" [index]="true" [checkbox]="true"></yk-table>
