<h3>Button</h3>
<yk-button [type]="'primary'" [text]="'primary'"></yk-button>
<yk-button [type]="'secondary'" [text]="'secondary'"></yk-button>
<yk-button [type]="'success'" [text]="'创建'" [i]="'plus'"></yk-button>
<yk-button [type]="'info'" [text]="'info'"></yk-button>
<yk-button [type]="'warning'" [text]="'warning'"></yk-button>
<yk-button [type]="'danger'" [text]="'danger'"></yk-button>
<yk-button [type]="'link'" [text]="'link'"></yk-button>

<h3>Table</h3>
<yk-table [columns]="columns" [datas]="datas"></yk-table>
