.navbar {
    padding: 0;
    background-color: rgb(221,75,57);
}

.navbar-brand {
    padding: .75rem 0;
    width: 10rem;
    text-align: center;
    color: #fff;
}

.navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    color: #fff;
}