ul li a {
    font-size: .75rem;
    color: #fff;
    cursor: pointer;
}

.navbar {
    background-color: rgb(221, 75, 57);
    padding: 0;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand {
    margin-right: 3rem;
}