.btn {
    font-weight: normal;
    font-size: .75rem;
    padding: .5rem 1rem;
    min-width: 6rem;
    line-height: 1;
    border-radius: 0;
    outline: none;
}

.btn:focus {
    outline: none;
}

i {
    padding: 0 .75rem 0 0;
}