<h3>Button</h3>
<yk-button [type]="'primary'">primary</yk-button>
<yk-button [type]="'secondary'">secondary</yk-button>
<yk-button [type]="'success'" [i]="'plus'">创建</yk-button>
<yk-button [type]="'info'">info</yk-button>
<yk-button [type]="'warning'">warning</yk-button>
<yk-button [type]="'danger'">danger</yk-button>
<yk-button [type]="'primary'" [disabled]="true">primary</yk-button>
<yk-button [type]="'link'">link</yk-button>
<br>
<br>
<yk-button [type]="'primary-outline'">primary</yk-button>
<yk-button [type]="'secondary-outline'">secondary</yk-button>
<yk-button [type]="'success-outline'" [i]="'plus'">创建</yk-button>
<yk-button [type]="'info-outline'">info</yk-button>
<yk-button [type]="'warning-outline'">warning</yk-button>
<yk-button [type]="'danger-outline'">danger</yk-button>
<yk-button [type]="'primary-outline'" [disabled]="true">primary</yk-button>
<br>
<br>
<br>
<br>
<br>
<br>
<yk-button [type]="'primary'" [disabled]="true">primary</yk-button>
<yk-button [type]="'secondary'" [disabled]="true">secondary</yk-button>
<yk-button [type]="'success'" [i]="'plus'" [disabled]="true">创建</yk-button>
<yk-button [type]="'info'" [disabled]="true">info</yk-button>
<yk-button [type]="'warning'" [disabled]="true">warning</yk-button>
<yk-button [type]="'danger'" [disabled]="true">danger</yk-button>
<yk-button [type]="'link'" [disabled]="true">link</yk-button>
<br>
<br>
<yk-button [type]="'primary-outline'" [disabled]="true">primary</yk-button>
<yk-button [type]="'secondary-outline'" [disabled]="true">secondary</yk-button>
<yk-button [type]="'success-outline'" [i]="'plus'" [disabled]="true">创建</yk-button>
<yk-button [type]="'info-outline'" [disabled]="true">info</yk-button>
<yk-button [type]="'warning-outline'" [disabled]="true">warning</yk-button>
<yk-button [type]="'danger-outline'" [disabled]="true">danger</yk-button>