.table td, .table th {
    line-height: 1;
    text-align: center;
    padding: .6rem;
}

.table th {
    background-color: #eeeeee;
    font-weight: normal;
    color: #333333;
    border: solid 1px #e6e6e6;
    vertical-align: middle;
}

.table td {
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #666666;
    vertical-align: middle;
}

.table tbody tr:hover {
    background-color: #e7f6ff;
}

.table tbody tr:hover td {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: #c9e6f2;
}

th.index {
    width: 3rem;
}

th.cb {
    width: 3rem;
}

.paginationInfo {
    float: right;
    padding-top: .3rem;
    padding-right: 1rem;
}

.table tfoot td {
    background-color: #eeeeee;
    font-weight: normal;
    color: #333333;
    border: solid 1px #e6e6e6;
    vertical-align: middle;
}