<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th *ngIf="checkbox" class="cb"><input type="checkbox"></th>
        <th *ngIf="index" class="index">序号</th>
        <th *ngFor="let column of columns;let i = index;" [style.width]="column.width">{{column.title}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of datas;let i = index">
        <td *ngIf="checkbox"><input type="checkbox"></td>
        <td *ngIf="index">{{i + 1}}</td>
        <td *ngFor="let column of columns;let j = index;">{{data[columns[j].field]}}</td>
    </tr>
    </tbody>
</table>