<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th *ngIf="checkbox" class="cb">
            <yk-checkbox #ca [checked]="isCheckAll" (change)="checkAll(ca.checked)"></yk-checkbox>
        </th>
        <th *ngIf="index" class="index">序号</th>
        <th *ngFor="let column of columns;let i = index;" [style.width]="column.width">{{column.title}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of datas;let i = index">
        <td *ngIf="checkbox">
            <yk-checkbox [checked]="isCheckAll" #cb (change)="check(i, cb.checked)"></yk-checkbox>
        </td>
        <td *ngIf="index">{{i + 1}}</td>
        <td *ngFor="let column of columns;let j = index;">{{data[columns[j]?.field]}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td *ngIf="checkbox" class="cb">
            <yk-checkbox #ca [checked]="isCheckAll" (change)="checkAll(ca.checked)"></yk-checkbox>
        </td>
        <td [attr.colspan]="tfootColspan"
            [style.text-align]="'right'"
            [style.padding]="'.35rem .6rem'">
            <ngb-pagination [collectionSize]="size"
                            [(page)]="currentPage"
                            size="sm"
                            [rotate]="true"
                            [ellipses]="false"
                            [boundaryLinks]="true"
                            [pageSize]="pageSize"
                            [maxSize]="5"
                            [style.float]="'right'"
            ></ngb-pagination>
            <div class="paginationInfo">共有{{size}}条，每页{{pageSize}}条</div>
        </td>
    </tr>
    </tfoot>
</table>