.sidebar {
    position: fixed;
    top: 2.75rem;
    left: 0;
    bottom: 0;
    background-color: rgb(249,250,252);
    border-right: 1px solid rgb(210,214,222);
    width: 10rem;
}

.list-group-item:first-child {
    border-radius: 0;
}

.list-group-item:last-child {
    border-radius: 0;
}

.list-group-item {
    border: none;
    background-color: inherit;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #0275d8;
}

.list-group-item i {
    padding:0 .5rem;
}