<div class="list-group sidebar">
    <a role="button" class="list-group-item" routerLink="/main/demo/button" routerLinkActive="active">
        Button
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/checkbox" routerLinkActive="active">
        Checkbox
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/table" routerLinkActive="active">
        table
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/input" routerLinkActive="active">
        input
    </a>
</div>