<div class="list-group sidebar">
    <a role="button" class="list-group-item" routerLink="/main/demo/button" routerLinkActive="active">
        Button
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/checkbox" routerLinkActive="active">
        Checkbox
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/table" routerLinkActive="active">
        Table
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/input" routerLinkActive="active">
        Input
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/modal" routerLinkActive="active">
        Modal
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/alert" routerLinkActive="active">
        Alert
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/dropdown" routerLinkActive="active">
        Dropdown
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/radio" routerLinkActive="active">
        Radio
    </a>
    <a role="button" class="list-group-item" routerLink="/main/demo/form" routerLinkActive="active">
        Form
    </a>
</div>