.datepicker-wrapper {
    margin-bottom: .75rem;
    position: relative;
    width: 20rem;
}

.datepicker-input {
    width: 20rem;
    padding: .45rem;
    border: 1px solid #dddddd;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    font-weight: normal;
    color: #333333;
}

.datepicker-input:focus {
    border-color: #1898eb;
}

.datepicker-addon {
    position: absolute;
    top: 0;
    right: 0;
    padding: .45rem;
}

.datepicker-addon i {
    cursor: pointer;
}

.datepicker-addon i:focus {
    color: #1898eb;
}
