input[type="checkbox"] {
    -webkit-appearance: none;
    background-size: 16px 16px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-right: 0;
    height: 16px;
    width: 16px;
    outline: none;
    vertical-align: bottom;
    margin-top: 0;
}

input[type="checkbox"]:hover {
    background-image: url("public/images/icon_select_normal.png");
    outline: none;
    border: none;
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:checked {
    background-image: url("public/images/icon_select_selected.png");
    outline: none;
    border: none;
}

span {
    padding: 0 .25rem;
    line-height: 1.25;
}

input[type="checkbox"]:disabled, input[type="checkbox"]:disabled:hover {
    background-image: none;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
}

input[type="checkbox"]:disabled:checked, input[type="checkbox"]:disabled:checked:hover {
    background-image: url("public/images/icon_select_selected.png");
    outline: none;
    border: none;
}