<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngFor="let model of models">
            <bf-model [model]="model" [form]="form"></bf-model>
        </div>
        <div class="foot-button">
            <yk-button [type]="submit" [classType]="'primary'" [disabled]="!form.valid">提交</yk-button>
            <yk-button [classType]="'primary-outline'" (cancel)="_cancel($event)">取消</yk-button>
        </div>
    </form>
    <div *ngIf="payLoad" class="foot-button">
        <strong>当前提交的表单数据为：</strong><br><br>{{payLoad}}
    </div>
</div>
